!!!
%html
  %head
    %title Deadpan Sincerity
    %link( href="http://eyes.deadpansincerity.com/css/style.css" rel="stylesheet" type="text/css" )
    %link( rel="openid.server" href="http://deadpansincerity.com/id/index.php")
    %link( rel="openid.delegate" href="http://deadpansincerity.com/id/index.php")
  %body
    #wrapper
      #header
        = haml(:header_nav, :layout => false )
      #nav
        = haml(:nav, :layout => false )

      %ul#diigoStream
        %li.title
          Some things that I have found
          %a(href="http://www.delicious.com/thatdavidmiller")fascinating
        - del.each do |l|
          %li
            %a{:href => l.link}
              = l.title
      %ul#twitterStream
        %li.title
          Some things that I have been
          %a(href="http://www.twitter.com/thatdavidmiller")twittering
        - twit.each do |t|
          %li
            = t.description
            %span.twitterDate= t.pubDate
    = haml( :analytics, :layout => false )
