!!!
%html
  %head
    %title Deadpan Sincerity
    %link( href="/css/style.css" rel="stylesheet" type="text/css" )
    %link( rel="openid.server" href="http://deadpansincerity.com/id/index.php")
    %link( rel="openid.delegate" href="http://deadpansincerity.com/id/index.php")

    %script(id="tmpl_morsel" type="text/x-jquery-tmpl")
      %li
        %a{:href => "${u}"}
          = "${d}"

    %script(id="tmpl_tweet" type="text/x-jquery-tmpl")
      %li
        ${text}
        %span.twitterDate ${created_at}

    %script(id="tmpl_IssueCommentEvent" type="text/x-jquery-tmpl")
      %li
        Commented on
        %a{:href => "${payload.issue.html_url}"}
          = "${repo.name}"

    %script(id="tmpl_PullRequestEvent" type="text/x-jquery-tmpl")
      %li
        ${payload.action} a Pull Request on
        %a{:href => "${payload.pull_request.html_url}"}
          = "${repo.name}"

    %script(id="tmpl_PushEvent" type="text/x-jquery-tmpl")
      %li
        Pushed to
        %a{:href => "https://github.com/${repo.name}"}
          = "${repo.name}"
        {{each payload.commits}}
        %a{:href => "https://github.com/${repo.name}/commit/${$value.sha}"}
          = "${$value.sha.substr(0,8)}"
        ${$value.message.substr(0, 38)}...
        %br
        {{/each}}

    %script(id="tmpl_ForkEvent" type="text/x-jquery-tmpl")
      %li
        Forked
        %a{:href => "https://github.com/${repo.name}"}
          = "${repo.name}"

    %script(id="tmpl_GistEvent" type="text/x-jquery-tmpl")
      %li
        ${payload.action}d gist
        %a{:href => "${payload.gist.html_url}"}
          = "${payload.gist.id}"
        ${payload.gist.description}

    %script(id="tmpl_IssuesEvent" type="text/x-jquery-tmpl")
      %li
        ${payload.action} an issue on ${repo.name}
        %a{:href => "${payload.issue.html_url}"}
          = "${payload.issue.title}"

    %script(id="tmpl_CommitCommentEvent" type="text/x-jquery-tmpl")
      %li
        Commented on
        %a{:href => "${payload.comment.html_url}"}
          = "${repo.name}"
        %span.codeDate ${created_at}

    %script(id="tmpl_track" type="text/x-jquery-tmpl")
      %li
        ${text}
        %span.twitterDate ${created_at}

  %body
    #wrapper
      #header
        = haml(:header_nav, :layout => false )
      #nav
        = haml(:nav, :layout => false )

      %ul#tasty
        %li.title
          Some things that I have found
          %a(href="http://www.delicious.com/thatdavidmiller")fascinating
      %ul#twittering
        %li.title
          Some things that I have been
          %a(href="http://www.twitter.com/thatdavidmiller")twittering
      %ul#coding
        %li.title
          Some things that I have been
          %a(href="https://github.com/davidmiller")coding

    = haml( :analytics, :layout => false )

    %script( src="/js/lib/jquery-1.7.1.js" type="text/javascript")
    %script( src="/js/lib/jquery.tmpl.js" type="text/javascript")
    %script( src="/js/lib/jquery.linkify-1.0.js" type="text/javascript")
    %script( src="/js/lib/underscore.js" type="text/javascript")
    %script( src="/js/lib/backbone.js" type="text/javascript")
    %script( src="/js/sincerity.js" type="text/javascript")
    %script( src="/js/engage.js" type="text/javascript")
