!!!
%html
  %head
    %title Deadpan Sincerity
    %link( href="/css/style.css" rel="stylesheet" type="text/css" )
    %link( rel="openid.server" href="http://deadpansincerity.com/id/index.php")
    %link( rel="openid.delegate" href="http://deadpansincerity.com/id/index.php")
    %meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    %script(id="tmpl_morsel" type="text/x-jquery-tmpl")
      %li
        %a{:href => "${u}"}
          = "${d}"
        %span.morselDate ${XDate(dt).toUTCString()}

    %script(id="tmpl_tweet" type="text/x-jquery-tmpl")
      %li
        ${text}
        %span.twitterDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_IssueCommentEvent" type="text/x-jquery-tmpl")
      %li
        Commented on
        %a{:href => "${payload.issue.html_url}"}
          = "${repo.name}"
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_PullRequestEvent" type="text/x-jquery-tmpl")
      %li
        ${payload.action} a Pull Request on
        %a{:href => "${payload.pull_request.html_url}"}
          = "${repo.name}"
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_PushEvent" type="text/x-jquery-tmpl")
      %li
        Pushed to
        %a{:href => "https://github.com/${repo.name}"}
          = "${repo.name}"
        {{each payload.commits}}
        %a{:href => "https://github.com/${repo.name}/commit/${$value.sha}"}
          = "${$value.sha.substr(0,8)}"
        ${$value.message.substr(0, 38)}...
        %br
        {{/each}}
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_ForkEvent" type="text/x-jquery-tmpl")
      %li
        Forked
        %a{:href => "https://github.com/${repo.name}"}
          = "${repo.name}"
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_GistEvent" type="text/x-jquery-tmpl")
      %li
        ${payload.action}d gist
        %a{:href => "${payload.gist.html_url}"}
          = "${payload.gist.id}"
        ${payload.gist.description}
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_IssuesEvent" type="text/x-jquery-tmpl")
      %li
        ${payload.action} an issue on ${repo.name}
        %a{:href => "${payload.issue.html_url}"}
          = "${payload.issue.title}"
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_CommitCommentEvent" type="text/x-jquery-tmpl")
      %li
        Commented on
        %a{:href => "${payload.comment.html_url}"}
          = "${repo.name}"
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_CreateEvent" type="text/x-jquery-tmpl")
      %li
        Created a ${payload.ref_type} ${payload.ref}
        %a{:href => "https://github.com/${repo.name}"}
          = "${repo.name}"
        %br
        ${payload.description}
        %span.codeDate ${XDate(created_at).toUTCString()}

    %script(id="tmpl_track" type="text/x-jquery-tmpl")
      %li
        ${text}


  %body
    #wrapper
      #header
        = haml(:header_nav, :layout => false )
      #nav.column
        = haml(:nav, :layout => false )

      %ul#tasty.column
        %li.title
          Some things that I have found
          %a(href="http://www.delicious.com/thatdavidmiller")fascinating
      %ul#twittering.column
        %li.title
          Some things that I have been
          %a(href="http://www.twitter.com/thatdavidmiller")twittering
      %ul#coding.column
        %li.title
          Some things that I have been
          %a(href="https://github.com/davidmiller")coding

    - if analyze == true
      = haml( :analytics, :layout => false )

    = haml( scripts, :layout => false )
